body {
  background: rgb(66, 60, 238);
  font: normal 15pt Arial;
  
}

header {
  color: white;
  text-align: center;

}

section {
  background: white;
  border-radius: 18px; /*Ficar redondo as bordas */
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.383);
}

div {
  text-align: center;
  
}

img#paisagem {
  border-radius: 200px;
  width:200px;
  height:200px;
  display: table-cell; /*Deixar a imagem centralizada*/
  margin: auto; /*Ajuda a centralizar*/  
  
} 

footer {
  color: white;
  text-align: center;
  font-style: italic;

}